<div class="container">
    <div class="row mt-3">
      <div class="col"  class="add-item">
          <label>Add an item : </label>
        <input type="text"  data-test="assembly-add-item" [(ngModel)]="item" (keypress)="addItem($event)"/>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-3 stage-item" *ngFor="let stage of stages" data-test="assembly-stage">
        {{stage}}
      </div>
      <div class="col-3" *ngFor="let assemblyLine of assemblyLines; let assemblyLineIndex=index;">
        <div class="my-2" *ngFor="let assemblyItem of assemblyLine; let assemblyItemIndex = index;">
          <button type="button" data-test="assembly-item" 
          (click)="moveNext($event, assemblyItem, assemblyItemIndex, assemblyLineIndex)"
          (contextmenu)="movePrev($event, assemblyItem, assemblyItemIndex, assemblyLineIndex)"
          class="item-button">{{assemblyItem}}</button>
        </div>
      </div>
    </div>
  </div>